<div class="container">
  <form
    class="form"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="field is-horizontal"
  >
    <div class="field">
      <label class="label">Ainm</label>
      <div class="control">
        <input
          class="input"
          id="first-name"
          type="text"
          placeholder="Ainm"
          formControlName="Ainm"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">DataBreithe</label>
      <div class="control">
        <input
          class="input"
          id="DataBreithe"
          type="text"
          placeholder="DataBreithe"
          formControlName="DataBreithe"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">DataBais</label>
      <div class="control">
        <input
          class="input"
          id="DataBais"
          type="text"
          placeholder="DataBais"
          formControlName="DataBais"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Patrun</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Patrun"
          formControlName="Patrun"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Lamhscribhinni</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Lamhscribhinni"
          formControlName="Lamhscribhinni"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">FloruitStart</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="FloruitStart"
          formControlName="FloruitStart"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">FloruitEnd</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="FloruitEnd"
          formControlName="FloruitEnd"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">SliBheatha</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="SliBheatha"
          formControlName="SliBheatha"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Contae</label>
      <div class="control">
        <div class="select">
          <select formControlName="Contae">
            <option value="" disabled selected hidden>
              Roghnaigh le do thoil...
            </option>
            <option>Athshocraigh</option>
            <option>Baile Átha Cliath</option>
            <option>Laois</option>
            <option>Cill Chainnigh</option>
            <option>Lú</option>
            <option>Longfoirt</option>
            <option>Cill Mhantáin</option>
            <option>Ceatharlach</option>
            <option>Chill Dara</option>
            <option>Mí</option>
            <option>Uíbh Fhailí</option>
            <option>Iarmhí</option>
            <option>Loch Garman</option>
            <option>Liatroma</option>
            <option>Gaillímh</option>
            <option>Mhaigh Eo</option>
            <option>Ros Comáin</option>
            <option>Shligigh</option>
            <option>Aontroma</option>
            <option>Ard Mhacha</option>
            <option>Dhún na nGall</option>
            <option>Thír Eoghain</option>
            <option>Fhear Manach</option>
            <option>Chabháin</option>
            <option>Mhuineacháin</option>
            <option>Dúin</option>
            <option>Dhoire</option>
            <!-- <option class=has-text-weight-bold>Munster</option> -->
            <option>Clár</option>
            <option>Luimneach</option>
            <option>Tiobraid Árann</option>
            <option>Corcaigh</option>
            <option>Ciarraí</option>
            <option>Port Láirge</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="button is-link" id="btSubmit">
      Cuir isteach
    </button>
  </form>
</div>
<div class="container" id="two">
  <h1 class="h1">Torthaí {{ scribe.length }}</h1>
  <h2 class="NoResults" *ngIf="showStringbool == true">
    <strong>Ní raibh aon torthaí ann chun do cheist a mheaitseáil</strong>
  </h2>
  <div class="card" *ngFor="let scribe of scribe">
    <header class="card-header">
      <p class="card-header-title">{{ scribe.Ainm }}</p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <!-- <i 
          [ngClass]="bool ==true ? 'fas fa-arrow-up': 'fas fa-arrow-down'" aria-hidden="true" (click)="dropdown()"></i> -->
        </span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <ul>
          <p><strong>Ainm:</strong> {{ scribe.Ainm }}</p>
          <p><strong>DataBreithe:</strong> {{ scribe.DataBreithe }}</p>
          <p><strong>DataBais:</strong> {{ scribe.DataBais }}</p>
          <p><strong>Patrun:</strong> {{ scribe.Patrun }}</p>
          <p><strong>Lamhscribhinni:</strong> {{ scribe.Lamhscribhinni }}</p>
          <p><strong>FloruitStart:</strong> {{ scribe.FloruitStart }}</p>
          <p><strong>FloruitEnd:</strong> {{ scribe.FloruitEnd }}</p>
          <p><strong>SliBheatha:</strong> {{ scribe.SliBheatha }}</p>
          <p><strong>Seoladh:</strong> {{ scribe.Seoladh1 }}</p>
          <p><strong>Seoladh2:</strong> {{ scribe.Seoladh2 }}</p>
          <p><strong>Seoladh3:</strong> {{ scribe.Seoladh3 }}</p>
          <p><strong>Seoladh4:</strong> {{ scribe.Seoladh4 }}</p>
          <p><strong>FeachFosta:</strong> {{ scribe.FeachFosta }}</p>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
