.container {
  background-color: white;
  margin-top: 2%;
}

.container2 {
  text-align: right;
  max-width: 100%;
}

.field-is-horizontal {
  padding-left: 5%;
}

.label {
  padding-left: 5%;
}

#two {
  padding-top: 2em;
}

.card {
  background-color: grey;
  margin-top: 2%;
  color: white;
}
.h1 {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
#btSubmit {
  align-self: end;
}

.form {
  width: 100%;
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 75%;
  }
}
