<div class="container">
  <form
    class="form"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="field is-horizontal"
  >
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Cuir isteach ainm anseo "></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">Ainm</label>
      <div class="control">
        <input
          class="input"
          id="first-name"
          type="text"
          placeholder="Ainm"
          formControlName="Ainm"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Cuir an bhliain isteach"></i>
        </span>
        <span>Faoileáil </span>
      </div>
      <label class="label">DataBreithe</label>
      <div class="control">
        <input
          class="input"
          id="DataBreithe"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="ó"
          formControlName="DataBreitheó"
        />
        <input
          class="input"
          id="DataBreithe"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="chun"
          formControlName="DataBreithechun"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Cuir an bhliain isteach"></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">DataBais</label>
      <div class="control">
        <input
          class="input"
          id="DataBais"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="ó"
          formControlName="DataBaisó"
        />
        <input
          class="input"
          id="DataBais"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="chun"
          formControlName="DataBaischun"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Cuir isteach ainm anseo "></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">Patrun</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Patrun"
          formControlName="Patrun"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i
            class="fas fa-info-circle"
            title="Cuir isteach ainm na lámhscríbhinne "
          ></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">Lamhscribhinni</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Lamhscribhinni"
          formControlName="Lamhscribhinni"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i
            class="fas fa-info-circle"
            title="Cuir isteach ainm na Topic "
          ></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">Topic</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Topic"
          formControlName="Topic"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Cuir an bhliain isteach "></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">FloruitStart</label>
      <div class="control">
        <input
          class="input"
          id="FloruitStart"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="ó"
          formControlName="FloruitStartó"
        />
        <input
          class="input"
          id="FloruitStart"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="chun"
          formControlName="FloruitStartchun"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Cuir an bhliain isteach"></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">FloruitEnd</label>
      <div class="control">
        <input
          class="input"
          id="FloruitEnd"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="ó"
          formControlName="FloruitEndó"
        />
        <input
          class="input"
          id="FloruitEnd"
          type="number"
          min="1650"
          max="1900"
          step="1"
          placeholder="chun"
          formControlName="FloruitEndchun"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Iontráil slí bheatha"></i>
        </span>
        <span>Faoileáil</span>
      </div>
      <label class="label">SliBheatha</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="SliBheatha"
          formControlName="SliBheatha"
        />
      </div>
    </div>
    <div class="field">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle" title="Roghnaigh Contae  "></i>
        </span>
        <span title="hover test">Faoileáil</span>
      </div>
      <label class="label">Contae</label>
      <div class="control">
        <div class="select">
          <select formControlName="Contae">
            <option value="" disabled selected hidden>
              Roghnaigh le do thoil...
            </option>
            <hr class="dropdown-divider" />
            <optgroup label="Cúige Uladh/Ulster"></optgroup>
            <hr class="dropdown-divider" />
            <option >Aontroim</option>
            <option >An Cabhán</option>
            <option >An Dún</option>
            <option >Ard Mhacha</option>
            <option >Doire</option>
            <option >Dún na nGall</option>
            <option >Fear Manach</option>
            <option >Muineachán</option>
            <option >Tír Eoghain</option>
            <hr class="dropdown-divider" />
            <optgroup label="Cúige Laighean/Leinster"></optgroup>
            <hr class="dropdown-divider" />
            <option >An Iarmhí</option>
            <option >An Lú</option>

            <option >An Mhí</option>
            <option >Baile Átha Cliath</option>
            <option >Ceatharlach</option>
            <option >Cill Chainnigh</option>

            <option >Cill Dara</option>
            <option >Cill Mhantáin</option>

            <option >Laois</option>
            <option >Loch Garman</option>
            <option >Longfort</option>
            <option >Uíbh Fhailí</option>
            <hr class="dropdown-divider" />
            <optgroup label="Cúige Chonnacht/ Connaught "></optgroup>
            <hr class="dropdown-divider" />
            <option >Gaillimh</option>
            <option >Liatroim</option>

            <option >Maigh Eo</option>
            <option >Ros Comáin</option>
            <option >Sligeach</option>
            <hr class="dropdown-divider" />
            <optgroup label="Cúige Mumhan/ Munster"></optgroup>
            <hr class="dropdown-divider" />
            <option >An Clár</option>
            <option >Ciarraí</option>
            <option >Corcaigh</option>
            <option >Luimneach</option>
            <option >Port Láirge</option>
            <option >Tiobraid Árann</option>
          </select>
        </div>
      </div>
    </div>
    <input
      type="reset"
      value="athshocrú"
      style="background-color: #b22222; color: white"
    />
    <input
      type="submit"
      value="Cuir isteach"
      style="background-color: #006400; color: white"
    />
    <!-- <button type="submit" class="button is-link" id="btSubmit">
      Cuir isteach
    </button> -->
  </form>
</div>
<div class="container" id="two">
  <h1 class="h1">Torthaí {{ scribe.length }}</h1>
  <h2 class="NoResults" *ngIf="showStringbool == true">
    <strong>Ní raibh aon torthaí ann chun do cheist a mheaitseáil</strong>
  </h2>
  <div class="card" *ngFor="let scribe of scribe">
    <header class="card-header">
      <p class="card-header-title">{{ scribe.Ainm }}</p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <!-- <i 
          [ngClass]="bool ==true ? 'fas fa-arrow-up': 'fas fa-arrow-down'" aria-hidden="true" (click)="dropdown()"></i> -->
        </span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <ul>
          <p><strong>Ainm:</strong> {{ scribe.Ainm }}</p>
          <p><strong>DataBreithe:</strong> {{ scribe.DataBreithe }}</p>
          <p><strong>DataBais:</strong> {{ scribe.DataBais }}</p>
          <p><strong>Patrun:</strong> {{ scribe.Patrun }}</p>
          <p><strong>Lamhscribhinni:</strong> {{ scribe.Lamhscribhinni }}</p>
          <p><strong>Topic:</strong> {{scribe.Topic}}</p>
          <p><strong>FloruitStart:</strong> {{ scribe.FloruitStart }}</p>
          <p><strong>FloruitEnd:</strong> {{ scribe.FloruitEnd }}</p>
          <p><strong>SliBheatha:</strong> {{ scribe.SliBheatha }}</p>
          <p><strong>Seoladh:</strong> {{ scribe.Seoladh1 }}</p>
          <p><strong>Seoladh2:</strong> {{ scribe.Seoladh2 }}</p>
          <p><strong>Seoladh3:</strong> {{ scribe.Seoladh3 }}</p>
          <p><strong>Seoladh4:</strong> {{ scribe.Seoladh4 }}</p>
          <p><strong>FeachFosta:</strong> {{ scribe.FeachFosta }}</p>
          <p><strong>Breise:</strong> {{ scribe.Breise }}</p>

        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
