li{
    display:inline;
    margin-top:-10%;
    background-color:#51b9d6;
    font:bold;
    font-size:large;
    width:100%;
    margin:0 auto;
}
.navbar-menu{
    font:bold;
    font-size:larger;
   text-align:center;
   
}


