<div class="box">
  <div class="level">
    <div class="level-item">
      <h1 class="title">Muiris Ó Gormáin (fl. 1734–1788)</h1>
    </div>
    <button class="button1" id="bt1" (click)=" showCase1()">Read Me</button>
  </div>
</div>
<div *ngIf="isActive">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete" (click)="closeM()" aria-label="close"></button>
        <h1 class="modal-card-title">
          <strong>Muiris Ó Gormáin (fl. 1734–1788)</strong>
        </h1>
      </header>
      <section class="modal-card-body">
        <div class="content is-medium">
          <p>
            D’fhág Muiris Ó Gormáin níos mó ábhar stairiúil ina dhiaidh ná aon
            scríobhaí eile de chuid an Tuaiscirt i dtréimhse na Nua-Ghaeilge,
            agus tá cuid mhaith ar eolas faoina shaol, faoina chuid oibre agus
            faoina lucht aitheantais. Ceann de na rudaí is mó a chuimhnítear air
            agus trácht á dhéanamh ar Mhuiris ná an ‘droch-Bhéarla’ a bhí aige,
            de réir na haoire a scríobh Peadar Ó Doirnín air. Tuigtear, chomh
            maith, nach néata ná slachtmhar an pheannaireacht a bhí aige ach an
            oiread, cé go mbíonn sí iontach soiléir, de ghnáth. Aithnítear dhá
            ré ina shaol: na blianta luatha, 1734-1749, a chaith sé i gCo.
            Mhuineacháin, is cosúil; agus an dara tréimhse, ó 1752 ar aghaidh,
            nuair a bhí sé i mBaile Átha Cliath, áit ar tháinig feabhas ar a
            láimh. Mar gheall ar an gclú atá ar a chuid oibre, tá neart cuntas
            ar Mhuiris Ó Gormáin agus a chuid scríbhinní i gcló cheana féin,
            mórshaothar Niocláis Mhic Cathmhaoil, Muiris Ó Gormáin: Beatha agus
            Saothar (Indreabhán, 2013), go háirithe. De bhreis ar an leabhar
            seo, tá eolas ar fáil ina thaobh in Ó Mórdha, ‘Maurice O’Gorman in
            Monaghan: A Second Poem on Fr. Francis Mac Mahon’, Clogher Record,
            Iml. 2(1) (1957); in O’Sullivan, ‘The Irish Manuscripts in Case H in
            Trinity College Dublin Catalogued by Matthew Young in 1781’,
            Celtica, Iml. 11 (1976); in Ní Mhunghaile, ‘Muiris Ó Gormáin [†
            1794]: Scoláire idir Dhá Chultúr’ in Mac Craith, Mícheál & Pádraig Ó
            hÉalaí (eagí), Diasa Díograise: Aistí i gCuimhne ar Mháirtín Ó
            Briain (Indreabhán, 2009); agus in Ní Mhunghaile, ‘An
            Eighteenth-Century Gaelic Scribe’s Private Library: Muiris Ó
            Gormáin’s Books’, Proceedings of the Royal Irish Academy, Iml. 110C
            (2010); mar aon le Ní Shéaghdha, ‘Irish Scholars and Scribes in
            Eighteenth-Century Dublin’, Eighteenth-Century Ireland: Iris an Dá
            Chultúr, Iml. 4 (1989): in Ní Mhurchú & Breathnach, 1782-1881:
            Beathaisnéis (Baile Átha Cliath, 1999); Sharpe, ‘Muiris Ó Gormáin’s
            Book-Lists and T. F. O’Rahilly’, Celtica, Iml. 27 (2013); Sharpe,
            ‘Manuscript by Subscription: Muiris Ó Gormáin and the Annals of the
            Four Masters’, Éigse, Iml. 39 (2016); agus Smith, ‘Writing in Irish
            in County Monaghan: Thirteen Hundred Years of Tradition’ in Duffy,
            Patrick J. & Éamonn Ó Ciardha (eagí), Monaghan: History and Society;
            Interdisciplinary Essays on the History of an Irish County, (Baile
            Átha Cliath, 2017). Baineadh leas as na foinsí sin ar fad leis an
            gcuntas seo a réiteach, agus bunaíodh cuid eile de ar fhaisnéis na
            lámhscríbhinní é féin.
          </p>
          <p>
            Cé nach bhfuiltear cinnte cén áit go díreach sa chontae sin a rugadh
            é, tá gach cosúlacht air gurbh as Co. Mhuineacháin do Mhuiris Ó
            Gormáin ó dhúchas. Léifi ar inscríbhinní agus ar ghiotaí fáin ina
            chuid lámhscríbhinní go raibh ceangal aige le háiteanna ar leith sa
            chontae – an dúiche thart ar Mhachaire Rois, Domhnach Maighean, Tigh
            Thalláin agus Cluain Tiobrad. Bhí roinnt sagart mar phátrúin aige
            agus é i mbun pinn i gCo. Mhuineacháin – scríobh sé na dánta Ar chrú
            Cholla mo chuairt i gcéin agus [? A Athair] na stéad is na
            n-eachlann óir ar an Ath. Proinsias Mac Mathghamhna, S.P. Dhomhnach
            Maighean, a fuair bás sa bhliain 1782. Anuas orthu sin, chum sé an
            dán Is claoite tharla an tráth so déarach [? d’Earrach] ar an Ath.
            Philip Ó Gairtnéil; Ar an Athair is cliútaí cáil, ar an Ath. Séamus
            Ó Dubhthaigh, S.P. Thigh Thalláin; agus Ar an Athair Philip sclag
            tart, ar an Ath. Philip Mac Ardghail, S.P. Chluain Tiobrad
          </p>
          <p>
            Bhí aithne curtha ag Muiris ar roinnt mhaith de scoláirí móra na
            Gaeilge i gcathair Bhaile Átha Cliath faoin mbliain 1752. Scríobh sé
            lámhscríbhinn, mar shampla, don Dr Seán Ó Fearghusa idir an 21
            Feabhra 1752 agus an 17 Iúil 1752. D’fhostaigh an Dr Francis
            Stoughton Sullivan é thart faoin am seo, agus is cinnte go raibh sé
            ag cur faoi ar bhonn seasmhach sa chathair faoin mbliain 1761. Go
            bhfios dúinn, ba é an chéad tasc a cuireadh roimhe agus é fostaithe
            ag an Dr Sullivan ná cóipeanna úra a dhéanamh de Annála Chonnacht ón
            mbunchóip mheamraim, ARÉ C.iii.1 (1291), agus cóipeanna a dhéanamh
            de Annála na gCeithre Máistrí suas go dtí an bhliain 1172. Ba as ARÉ
            C.iii.3 (1220), ceann d’autograif na gCeithre Máistrí, a scríobh
            Muiris Ó Gormáin na hannála sin don Dr Sullivan, agus ba le Cathal Ó
            Conchubhair an eiseamláir, mar aon le bunchóip Annála Chonnacht.
          </p>
          <p>
            Is é an chéad tagairt chruinn eile atá ar fáil dó ná an conradh
            múinteoireachta a shínigh sé ar an 1 Bealtaine 1761, ina ngeallann
            sé beirt mhac léinn ó Cho. an Chabháin a theagasc go dtí an 30
            Aibreán 1762. Is minic a chreidtear, de bharr an chonartha seo, gur
            chaith Muiris seal sa chontae sin. Tá sé le tuiscint, áfach, as
            tagairtí a rinneadh dó a bheith ag obair san ardchathair an bhliain
            sin go mb’fhéidir gur ligeadh as an gconradh é, nó fiú go raibh an
            bheirt scoláirí ar lóistín i mBaile Átha Cliath ag an am. Cibé rud
            é, is cinnte go raibh cónaí ar Mhuiris ag Comhartha an Mashing Keeve
            i Lána Mhuire, Baile Átha Cliath, i mí na Samhna 1763 agus é ag
            obair don Dr Sullivan. Níorbh eisean an t-aon phátrún amháin a bhí
            ag Muiris le linn na mblianta sin; bhí KBC NKS173 á cóipeáil aige do
            Phádraig Ó Con Cheanainn thart faoin 10 Nollaig 1764.
          </p>
          <p>
            Is soiléir go raibh Muiris fostaithe ag an Dr Sullivan agus an Dr Ó
            Fearghusa ar feadh roinnt blianta, agus is eol dúinn gur scríobh sé
            cúig chnuasach mhóra ar a laghad (trí lámhscríbhinn déag fhada ar an
            iomlán) don Dr Sullivan; agus ghraf sé trí cinn, ar a laghad, don Dr
            Ó Fearghusa. Thart ar an am seo, bhí obair á déanamh aige do Chathal
            Ó Conchubhair chomh maith. Bhí Thomas Leland ina leabharlannaí i
            gColáiste na Tríonóide sa bhliain 1761 agus idir na blianta 1768
            agus 1781, agus ba eisean an té ba mhó a chinntigh gur méadaíodh an
            cnuasach lámhscríbhinní Gaeilge ann. Luaitear Muiris Ó Gormáin i
            leabhar cuntais Choláiste na Tríonóide i mí na Nollag 1766, nuair a
            fuair sé £1.2.9 ‘for classing the Irish manuscripts’.
          </p>
          <p>
            Taobh amuigh de lámhscríbhinní na Gaeilge, tuigtear go raibh an-suim
            ag Muiris i dteagasc na Gaeilge agus ina caomhnú. Fógraíodh ar
            Faulkner’s Dublin Journal ar an 24 Meitheamh 1766 (agus arís ag tús
            na chéad mhíosa eile) go raibh Muiris sásta a chuid seirbhísí a chur
            ar fáil ‘for the Instruction of Youth and Others’, dóibh siúd a
            raibh spéis san ársaíocht acu, ach go mórmhór.
          </p>
          <p>
            Bhí lámhscríbhinn ó leabharlann Chathail Uí Chonchubhair ag Muiris i
            mBaile Átha Cliath ar an 26 Aibreán 1770, agus é ag cóipeáil aisti
            lena chnuasach féin a mhéadú. Ní hé sin a rá nár scríobh sé ábhar ó
            am go chéile ar bhonn neamhfhoirmeálta do dhaoine eile: chóipeáil sé
            cnuasach beag scéalta rómánsaíochta ‘da charaid’ Bháitear Ó Gnúda. I
            gcuid de na lámhscríbhinní seo, faigheann muid téacsanna a
            shamhlaítear go príomha le traidisiún liteartha Oirialla. Tugtar le
            fios, dá bhrí seo, fosta go mbíodh Muiris ag plé le léitheoirí agus
            le scoláirí Gaeilge beag le rá i mBaile Átha Cliath, a fhad is a bhí
            sé fostaithe ag Charles Vallancey agus na pátrúin mhóra eile.
          </p>
          <p>
            Mar a luadh cheana, d’fhostaigh an Dr Thomas Leland, leabharlannaí
            Choláiste na Tríonóide, Muiris mar scoláire Gaeilge, le linn dó a
            bheith ag réiteach a shaothair staire, History of Ireland from the
            Invasion of Henry II to the Revolution Settlement (1773). Níl eolas
            ar bith againn ar an obair a rinne Muiris don Dr Leland, áfach, ach
            go bhfuair sé réidh leis am éigin roimh an 31 Márta 1772.
          </p>
          <p>
            Rinneadh socrú leis an Royal Dublin Society go mbunófaí cumann
            seandachtaí, an Committee of Antiquaries, agus rinneadh rúnaithe de
            Charles Vallancey agus den Dr Thomas Leland. Thuigfí ó chuid de na
            litreacha a scríobh Charles Vallancey chuig Cathal Ó Conchubhair
            thart faoin am sin go raibh baint an-láidir aige lena bhunú ar an 14
            Bealtaine 1772; agus dúradh ag an gcéad chruinniú, an 18 Bealtaine
            1772, go ndíolfaí cúig ghiní [= £5.13.9 an uair sin] le Muiris gach
            ráithe as obair chóipeála a dhéanamh. Ón am ar bunaíodh an cumann,
            go dtí gur tháinig deireadh leis ag deireadh na bliana 1774, bhí
            Muiris fostaithe acu ar bhonn leanúnach, agus fuair sé 46 ghiní nó
            £52.6.6 uathu ar an iomlán.
          </p>
          <p>
            Thug Muiris aghaidh ar thionscnamh beag dá chuid féin idir na
            blianta 1774 agus 1775. Cuid mhaith de na téacsanna a bhailigh sé
            tríocha bliain roimhe sin—is é sin, an meascán luachmhar sin
            seanbhúrdún agus dánfhocal a ghraf sé in ARÉ 23A45 (629)—thug sé
            faoina n-athscríobh isteach i lámhscríbhinn ar a dtugtar LB Eg. 127.
            Chuir sé roinnt téacsanna uathúla leo, agus dornán dánta le filí
            comhaimseartha ó Bhréifne agus ó Oirialla. Rinne scoláire ó Cho.
            Fhear Manach a bhí ar lóistín i mBaile Átha Cliath, Labhrás Ó
            hArann, a chóip féin den chnuasach bunaidh trí bliana ina dhiaidh
            sin. Roghnú pearsanta dá bhfuil in ARÉ 23A45 (629) atá i
            lámhscríbhinn Labhráis Uí Arann, LB Eg. 161, ach is doiligh a bheith
            cinnte go raibh aithne mhaith aige ar Mhuiris.
          </p>
          <p>
            Bhí sé ag obair arís do Chathal Ó Conchubhair sa bhliain 1777. Ba
            faoina stiúradh a rinne Muiris neart cóipeanna d’annála éagsúla idir
            na blianta 1777 agus 1783, a bhformhór don Chevalier Thomas
            O’Gorman, ceannaí fíona ó Tonnerre na Fraince. Socraíodh air go
            ndéanfaí an obair seo i dteach Chathail Uí Chonchubhair i mBéal Átha
            na gCarr, Co. Ros Comáin. Toisc gur gheall an Chevalier O’Gorman
            cuid mhaith d’fhiacha Mhuiris a ghlanadh, tuigtear gur cuireadh go
            Béal Átha na gCarr é lena choinneáil, mar a dúirt Nioclás Mac
            Cathmhaoil, ‘ar shiúl ó na tithe tábhairne’. Is cosúil gur thart ar
            an am seo a d’fhág an Chevalier O’Gorman an tír le dul chun na
            Fraince. Ba é an socrú a rinneadh eatarthu, chomh fada agus is eol
            dúinn, go leanfadh Muiris air ag cóipeáil cuid de Annála na gCeithre
            Máistrí as lámhscríbhinn Burton Conyngham, go dtosódh sé ar an
            imleabhar de Annála na gCeithre Máistrí a bhí ag Cathal Ó
            Conchubhair ansin, agus go scríobhfadh sé go nua Annála Chonnacht.
            Toisc nár ghnách le Muiris dátaí a chur lena chuid oibre, is doiligh
            go minic dáta beacht a leagan ar chuid mhaith dár scríobh sé; agus
            bíodh gur cuidiú mór é a bhfuil againn de chomhfhreagras Chathail Uí
            Chonchubhair agus a luchta comhaimsire, is deimhin go bhfuil
            tréimhsí áirithe ann i saol Mhuiris nach bhfuil eolas dá laghad ar
            fáil ina dtaobh.
          </p>
          <p>
            Níor chríochnaigh sé an obair a bhí le déanamh aige don Chevalier
            O’Gorman, áfach: bhí sé tar éis filleadh ar an árasán a bhí aige i
            dteach William Mecan i Sr. na bPiollaí [Pill Lane], Baile Átha
            Cliath, faoin am ar chuir sé fógra eile i gcló ar Saunders’s
            News-Letter ar an 9 Samhain 1780, agus arís ar an 11 Samhain 1780.
            Ag an bpointe seo, ní raibh cóipeáilte agus curtha i gcrích aige ach
            lámhscríbhinn Burton Conyngham, agus an sparán folamh aige. Chuir an
            Chevalier O’Gorman litir chuig Cathal Ó Conchubhair ar an 10 Eanáir
            1781, á chur in iúl dó nach raibh sé sásta leis an obair a bhí
            déanta ag Muiris
          </p>
          <p>
            Léiríonn tagairt a rinne Muiris dó féin mar ‘Professor of the Irish
            Language in Dublin’ sa bhliain 1782, an t-am ar ‘cheap’ sé dán molta
            ar George Nugent Grenville, go raibh sé fós ag teagasc i mBaile Átha
            Cliath anois is arís thart faoin mbliain sin. Chaith sé cuid den
            bhliain 1783 ag cóipeáil Annála Chonnacht, agus Annála Inis
            Faithleann don Chevalier O’Gorman; ní mór an meas a bhí ag Standish
            Hayes O’Grady ar chaighdeán na hoibre. LB Eg. 98 atá ar chóip
            Mhuiris de Annála Inis Faithleann faoi láthair, agus taobh leis an
            ábhar Gaeilge, tá aistriúchán Béarla ar na hannála a scríobh
            scoláire nua a bhí ceaptha ag an Chevalier, Tadhg Ó Flannagáin
          </p>
          <p>
            D’fhostaigh Coiste Seandachtaí Acadamh Ríoga na hÉireann Muiris ar
            an 4 Iúil 1785 mar ‘Transcriber & translator to said committee’. Is
            dóigh gur scaoileadh leis ar chúis éigin, mar fuair siad scríobhaí
            eile chun an obair a dhéanamh, ach tá méid substaintiúil cóipeanna
            de théacsanna a rinne Muiris i dtreo dheireadh a shaoil ar coimeád
            san Acadamh Ríoga. Le linn do Charlotte Brooke a bheith ag ullmhú
            eagráin den dán ‘Tighearna Mhaighe Eo’ lena chur i gcló i gcnuasach
            Joseph Cooper Walker, Historical Memoirs of the Irish Bards (1786),
            chuaigh sí i dteagmháil le Cathal Ó Conchubhair. Tuigtear óna
            gcomhfhreagras gur thug Muiris lámh mhór chúnta di agus í á ullmhú
            seo. Chaith Charlotte Brooke cuid mhaith den bhliain 1788 ag
            réiteach Reliques of Irish Poetry (1789) don chló, agus bhí Muiris i
            measc na ndaoine a chabhraigh léi téacsanna a fháil, Tugann an méid
            seo le fios go raibh an-mheas ar Mhuiris, dá mhéad locht a bhí air,
            ar a chumas agus ar a shaineolas ar lámhscríbhinní na Gaeilge. Is
            iomaí uair a foilsíodh scéal bhás Mhuiris, is é sin, gur cailleadh é
            ‘in the greatest poverty in a ground-cellar in Mary’s Lane, Dublin,
            about 1794: where he was a long time supported by the charity of Mac
            Entaggart …’ Is cosúil gur éag sé am éigin idir 1788 agus c.1794.
          </p>
          <p>
            Cé gur de bharr na gcóipeanna de Annála na gCeithre Máistrí, srl., a
            rinne sé don Chevalier O’Gorman is mó a chuimhnítear ar Mhuiris Ó
            Gormáin, d’fhág sé mórán de litríocht a linne féin againn, saothair
            fhilí Oirialla agus Bhréifne ina measc; agus bhí spéis ar leith aige
            i mbúrdúin agus i ndánfhocail na Gaeilge. Is óna pheann féin, mar
            shampla, a tháinig na cóipeanna is sine atá againn de dhéantúis
            Chathail Bhuí. Thairis sin, áfach, is léir ó na fógraí a foilsíodh i
            nuachtáin áirithe go raibh suim nár bheag aige i dteagasc na Gaeilge
            agus na hársaíochta. Deirtear nach raibh Béarla maith scríofa ag
            Muiris, agus nach raibh a chuid aistriúchán Béarla rómhaith ach
            moltar go hard a chuid lámhscríbhinní. Is ríléir go raibh an-stádas
            ag Muiris mar scríobhaí agus é fostaithe ag scoláirí an-mhór le rá:
            féach fosta gur chuir an scríobhaí agus file Gaeilge, Fiachra Mhac
            Bhrádaigh ó Cho. an Chabháin, cóip de dhán dá chumadh féin chuige in
            1755, mar i ndúil go scríobhfadh sé athuair é ‘with Good Ink and
            plaine writing’. Cé gur minic a rinne an Chevalier O’Gorman agus
            fostóirí eile gearán faoi Mhuiris agus cé gur fhostaigh siad
            scríobhaithe eile in amanna chun obair a dhéanamh, is cosúil go
            dtéidís i dtuilleamaí Mhuiris arís is arís toisc go raibh muinín acu
            as a chumas mar scríobhaí
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeM()">Exit</button>
      </footer>
    </div>
  </div>
</div>

<div class="box">
  <div class="level">
    <div class="level-item">
      <h1 class="title">Sailí Ní Anluain (c. 1834–1896)</h1>
    </div>
    <button class="button1" id="bt1" (click)=" showCase2()">Read Me</button>
  </div>
</div>
<div *ngIf="isActive1">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete" (click)="closeM()" aria-label="close"></button>
        <h1 class="modal-card-title">
          <strong>Sailí Ní Anluain (c. 1834–1896)</strong>
        </h1>
      </header>
      <section class="modal-card-body">
        <div class="content is-medium">
          <p>
            Formhór na scríobhaithe a ndéantar trácht orthu go rialta, is mar
            gheall ar fheabhas nó ar líon a gcuid scríbhinní nó a gcuid píosaí
            cumadóireachta a bhíonn cáil orthu, ach ní hamhlaidh atá i gcás
            Shailí Ní Anluain, Bean Uí Mhearáin, a mhair sa dara leath den 19ú
            hAois. Níor tháinig slán oiread agus ceann amháin dá cuid
            lámhscríbhinní, ná níl cuntas againn ar a raibh iontu. Is é an
            fhoinse phríomha atá againn uirthi an cuntas a bailíodh óna mac
            féin, Pádraig Ó Mearáin, agus a cuireadh i gcló in Ó Corragáin,
            ‘Muineachán agus an Teanga Ghaeilge’ in s.n., Énrí Ó Muirgheasa
            (1874—1945) (s.l., 1974). D’fhoghlaim Pádraig a chuid Gaeilge óna
            mháthair, mar aon le roinnt dánta, agus ba ghnách léi, dar leis, na
            giotaí filíochta Gaeilge a d’fhoilsítí in Old Moore’s Almanac a
            léamh. Bhí idir Ghaeilge agus Bhéarla ar a toil aici agus bhí sí in
            ann scríobh sa dá theanga. Tá sí spéisiúil ar thrí dhóigh: mar
            scríobhaí / scríbhneoir Gaeilge nach bhfuil toradh a saothar againn;
            mar shampla de scríobhaí / de scoláire Gaeilge mall; agus mar
            bhanscríobhaí. Tarraingíonn sí, mar sin, ceisteanna faoi scóip an
            chnuasaigh lámhscríbhinní a tháinig anuas chugainn, agus an tuiscint
            atá againn ar lucht a saothraithe. Bíodh is go bhfuil fianaise
            láidir againn ar scríobhaithe eile ar cailleadh a gcuid
            lámhscríbhinní ar fad trí na blianta (m.sh. Tomás Tannam, Nicholas
            O’Sheridan, Pádraig Ó Ceogáin, Peter Smith), agus ar scoláirí eile a
            choinnigh orthu ag léamh, ag scríobh agus ag bailiú téacsanna
            isteach sa cheathrú deiridh den 19ú hAois, níl mórán faisnéise ar
            fáil i dtaobh banscríobhaithe / banscoláirí Gaeilge eile a bhain
            leis an gceantar seo. Duine amháin eile acu is ea Molly Macken (Bean
            Rooney) ó Cho. Ard Mhacha, a mhair c. 1820
          </p>
          <p>
            Tá roinnt eolais bheathaisnéise ar fáil faoi Shailí Ní Anluain sna
            taifid riaracháin, áfach. Rugadh Sailí c. 1834, agus bhí sí pósta
            agus ag cur fúithi i nDroim Gamhna, Machaire Rois, Co. Mhuineacháin,
            faoi dheireadh na 1850í. Ba ar an mbaile sin a cailleadh í, ina
            baintreach, ar an 28 Nollaig 1896 agus í tuairim is 62 bhliain
            d’aois. Tugtar Sarah Marron uirthi ar an teastas báis. Patrick
            Marron a bhí ar a fear céile, ach níl an dáta pósta ar eolas againn.
            Bhí triúr páistí aici, ar a laghad, a luaitear a gcuid ainmneacha sa
            chlár baistí is sine atá againn ó pharóiste Mhachaire Rois: Owen
            Marron (Eugenius Marrin), a rugadh i nDroim Gamhna ar an 3 Iúil
            1858, agus a baisteadh ar an 4 Iúil 1858; Ellen Marron (Ellenora
            Marron), a rugadh i nDroim Gamhna ar an 6 Meitheamh 1859, agus a
            baisteadh ar an 7 Meitheamh 1859; Patrick Marron (Patricius Marrin;
            al. Pádraig Ó Mearráin), a rugadh i nDroim Gamhna ar an 28 Samhain
            1862, agus a baisteadh ar an 30 Samhain 1862. Maidir le Pádraig Ó
            Mearáin, an té a thug faisnéis i dtaobh a mháthar don Ath. Ó
            Corragáin, ar ndóigh, agus a chláraigh a bás in 1896, cailleadh é ar
            an 2 Deireadh Fómhair 1942 agus é 79 bliain d’aois, i nDroim Gamhna,
            áit ar tógadh é.
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeM()">Exit</button>
      </footer>
    </div>
  </div>
</div>
<div class="box">
  <div class="level">
    <div class="level-item">
      <h1 class="title">Maghnus Ó Domhnaill (fl. 1694–1706)</h1>
    </div>
    <button class="button1" id="bt1" (click)=" showCase3()">Read Me</button>
  </div>
</div>

<div *ngIf="isActive2">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete" (click)="closeM()" aria-label="close"></button>
        <h1 class="modal-card-title">
          <strong>Maghnus Ó Domhnaill (fl. 1694–1706)</strong>
        </h1>
      </header>
      <section class="modal-card-body">
        <div class="content is-medium">
          <p>
            Murab ionann agus formhór na scríobhaithe eile a bhfuil cáil ar a
            gcuid saothar, ní mar gheall ar líon ná ar thoirt a shaothair
            chóipeála atá cáil ar an Athair Maghnus Ó Domhnaill: is ar bhonn na
            mbunsaothar neamhghnách atá ina chuid lámhscríbhinní a chuimhnítear
            air. D’fhág sé againn pailteas aistriúchán ar théacsanna Spáinnise,
            abhar próis nach raibh éileamh air riamh i measc a luchta
            comhaimsire ná na scríobhaithe a lean iad. An méid sin ráite, d’fhág
            an scríobhaí bisiúil úd, Muiris Ó Gormáin, cóipeanna againn de chuid
            dá aistriúcháin. Thairis sin, tá go leor spéise á chur ina chuid
            scríbhinní le tuairim is céad bliain anuas; agus is cosúil gurbh é
            an mórscoláire úd, T. F. O’Rahilly, a chéadmhúscail an spéis sin i
            ndéantúis an tsagairt seo. Gheofar cuntas grinn ar na haistriúcháin
            seo, agus ar an mbeagán eolais atá ar fáil i dtaobh an Athar Maghnus
            é féin in Ó Donnchú, ‘An Sagart Ó Domhnaill sa Spáinn: Cóipeáil agus
            Aistriúchán i dTús an Ochtú hAois Déag’, Léachtaí Cholm Cille, Iml.
            51 (2021).
          </p>
          <p>
            Cé gur beag atá ar eolas faoi bheatha an Athar Maghnus Ó Domhnaill,
            is féidir glacadh leis gur chaith sé tréimhse i gceann de na
            cliarscoileanna ar an Mór-Roinn; agus téann sé le ciall—tharla go
            raibh an-chur amach aige ar an Spáinnis, agus ar litríocht na teanga
            sin—gur sa Spáinn a cuireadh oiliúint faoi choinne na sagartachta
            air. Ní luaitear a ainm sna taifid bhearnacha de chuid Choláiste
            Salamanca a tháinig anuas chugainn, is cosúil, ach is féidir fosta
            gur fhreastail sé ar cheann de na coláistí ‘Éireannacha’ eile sa tír
            sin, Coláiste San Seoirse in Alcalá de Henares, cuir i gcás. San
            iomlán, tá cúig imleabhar lámhscríofa againn ó pheann an Athar
            Maghnus, ar codanna de thrí lámhscríbhinn neamhspleácha iad ó
            cheart. Is sna lámhscríbhinní seo a fhaightear an t-aon dá dháta
            amháin is féidir a cheangal leis an scríobhaí seo—1694 agus 1706. Is
            sa lámhscríbhinn is sine díobh seo, rud atá ar coimeád i gcnuasach
            Leabharlann Phoiblí Bhéal Feirste anois, atá a chóip féin den leagan
            Gaeilge a réitigh sé den Lunario Nuevo a scríobh Geronimo Cortés.
            Cuireadh téacs an aistriúcháin neamhiomláin seo in eagar in
            O’Connell (eag.) & Henry, An Irish Corpus Astronomiae: Being Manus
            O'Donnell’s Seventeenth Century Version of the Lunario of Geronymo
            Corteès (Londain, 1915). Mar a thug na húdair, agus Ó Donnchú, le
            fios, is aistriúchán sách dílis é seo de chuid den bhunsaothar
            Spáinnise, cé gur thug an tAthair Maghnus cead a chinn dó féin ábhar
            a athscríobh agus a ghiorrú scaití, le go mbeadh an téacs
            fóirsteanach don léitheoir Éireannach, is dóigh. Is ábhar spéise, ó
            thaobh stair an aistriúcháin Gaeilge de, cinnte, na leasuithe agus
            na cora a chuir sé de le déileáil le focail theicniúla agus le
            hainmneacha plandaí nach raibh teacht orthu in Éirinn sa ré sin.
            Tugann nóta diamhair sa lámhscríbhinn féin le fios nach raibh sé
            beartaithe aige, an uair a scoir sé dá scríobh, an t-aistriúchán a
            chríochnú: ‘Más beag leat sin, ni bhfuil agat féin acht o Charn
            Muigh[m]onaidh go Bearnas Mór, eidir na nglascharn agus eile, do
            chur leis’ (LPBF 41). Glactar leis, ar bhonn na bhfoirmeacha teanga
            a sciorrann de agus é ag aistriú leis, gurbh Ultach é an tAthair
            Maghnus; agus bhí O’Rahilly, Irish Dialects Past and Present (Baile
            Átha Cliath, 1932), sásta glacadh leis gurbh as Co. Dhún na nGall
            dó. Cé nach éasca ‘Carn Muigh[m]onaidh’ a aithint, is féidir gurb
            ionann an dara log agus an Bearnas Mór atá sa bhaile fearainn ar a
            dtugtar Céide Uachtarach, tuairim is naoi míle taobh thoir de bhaile
            Dhún na nGall.
          </p>

          <p>
            Is éard atá sa ‘dara’ lámhscríbhinn atá againn uaidh, rud atá ar
            coimeád i dtrí imleabhar ar leith in Acadamh Ríoga na hÉireann,
            cnuasach de dhánta stairiúla agus d’aistriúcháin a réitigh an
            tAthair Maghnus é féin de thrí scéal (trí novela ó cheart) de chuid
            Juan Perez de Montalbán. Tugtar ‘eachtraí’ orthu sna leaganacha
            Gaeilge: ‘Eachtra Ristaird agus Lisarda’; ‘Eachtra an Pháláis
            Dhraoidheachtamhail’; agus ‘Eachtra an Cheithearnaigh Choilleadh
            Chompáisigh’. Mar a thaispeáin Ó Donnchú, níor chás don Athair
            Maghnus arís na téacsanna a athmhúnlú beagán. I lámhscríbhinn eile
            atá ar coimeád in Acadamh Ríoga na hÉireann, tá liosta 16 leathanach
            de bhreiseanna agus de cheartúcháin ar shaothar staire an
            Chéitinnigh, ‘Foras Feasa ar Éirinn’, a bhfuil lorg láimhe an Athar
            Maghnus orthu, is cosúil. Cé nach féidir a dhearbhú gurbh é an
            tAthair Maghnus a thiomsaigh an cnuasach beag leasuithe seo, níorbh
            ábhar iontais é dá mba eisean an té a chuir lámh san obair seo ar
            dtús. Cuireadh an téacs gairid seo in eagar in Ó Cuív, ‘A
            Seventeenth Century Criticism of Keating’s Foras Feasa ar Éirinn’,
            Éigse, Iml. 9(2) (1965). Níl a dhath ar bith ar eolas againn faoi
            ghníomhaíochtaí an scoláire neamhghnách seo i ndiaidh na bliana
            1706.
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeM()">Exit</button>
      </footer>
    </div>
  </div>
</div>
<div class="box">
  <div class="level">
    <div class="level-item">
      <h1 class="title">Tomás Ó Doirnín (fl. 1765–1802 ???)</h1>
    </div>
    <button class="button1" id="bt1" (click)=" showCase4()">Read Me</button>
  </div>
</div>

<div *ngIf="isActive3">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete" (click)="closeM()" aria-label="close"></button>
        <h1 class="modal-card-title">
          <strong>Tomás Ó Doirnín (fl. 1765–1802 ???)</strong>
        </h1>
      </header>
      <section class="modal-card-body">
        <div class="content is-medium">
          <p>
            Mar iarshealbhóir Leabhar Bhaile an Mhóta is mó atá cuimhne ar
            Thomás Ó Doirnín, ach léiríonn a ‘bheathaisnéis’ cuid de na
            deacrachtaí a bhaineann le taighde ar shaolta scríobhaithe nach
            bhfuil taifid leanúnacha againn orthu. Tá pailteas tagairtí ar fáil
            do scríobhaí (nó scríobhaithe) darbh ainm Tomás Ó Doirnín a
            bhaineann leis an dúiche thart ar Dhroichead Átha, ach is féidir
            nach dtagraíonn siad ar fad don duine céanna. Ós rud é nach bhfuil
            againn ach giotaí beaga fáin ón scríobhaí (ó na scríobhaithe) seo,
            agus go bhfuil éagsúlachtaí peannaireachta le haithint orthu, is
            doiligh cuid mhaith den eolas seo a chur ina chomhthéacs ceart.
            Chonacthas cheana féin go dtarlaíonn sé ó am go chéile go
            bhfaightear fianaise ar bheirt scríobhaithe, agus an t-ainm céanna
            orthu araon, a bheith ag saothrú leo sa dúiche chéanna ag an am
            céanna. Ní ábhar iontais sin, tharla gur cheird shinseartha é
            déanamh na lámhscríbhinní amanna, i ré na Nua-Ghaeilge
            ‘Iarchlasaicí’, fiú.
          </p>
          <p>
            Is é an chéad sampla de shaothar láimhe Thomáis Uí Dhoirnín, blogh
            lámhscríbhinne 16 leathanach atá ceangailte le blúirí eile agus ar
            coimeád i gcnuasach lámhscríbhinní Stowe in Acadamh Ríoga na
            hÉireann. Níl inti ach dornán téacsanna a bhfaightear a leithéid go
            minic i lámhscríbhinní malla Oirialla—dánta le Cathal Mag Ruairí,
            Pádraig Mac a Liondain, Séamus Mac Cuarta, Peadar Ó Doirnín, agus
            giotaí eile. Cé gur bhain Tomás Ó Doirnín agus an file clúiteach
            Peadar Ó Doirnín le teorainneacha íochtaracha agus uachtaracha
            Chontae Lú faoi seach, níl oiread agus pioc faisnéise ar fáil a
            chuirfeadh bonn faoin tuairim go raibh páirt acu lena chéile. Is
            fíor, áfach, go bhfuil Tomás Ó Doirnín le háireamh mar dhuine den
            bheagán scríobhaithe a ghraf cóipeanna de dhánta Pheadair Uí
            Dhoirnín le linn don fhile féin a bheith ina bheatha. An téacs is
            uathúla sa bhlogh seo, is mallacht é a scríobhadh ar ‘Neitrilleach’
            éigin—duine de mhuintir Netterville na Mí, b’fhéidir. Tugtar an dáta
            agus log scríofa i gcolafan Béarla ag deireadh an ghiota seo:
            ‘Carranstown, April the 26th day, 1765’. Tá Baile Chearráin i
            bparóiste Dhamh Liag, Co. na Mí, ar an mbealach mór idir Damh Liag
            agus Droichead Átha. Tá dáta eile, an 22 Bealtaine 1765, scríofa go
            cliathánach ar an gcéad leathanach sa bhlogh seo fosta.
          </p>

          <p>
            Ní ceist dúinn gurb ionann an lámh a scríobh na téacsanna seo agus
            an té ag a raibh Leabhar Bhaile an Mhóta tráth: tugann sé le fios go
            soiléir sa lámhscríbhinn mheamraim sin go raibh sé idir lámha aige i
            nDroichead Átha sa chéad leath den bhliain 1769. Taispeánann cuid de
            na gluaiseanna a fhaightear sa láimh chéanna scun scan sa
            lámhscríbhinn go ndearna sé iarracht éigin ar stráicí móra di a
            léamh. Tugann Muiris Ó Gormáin ‘Thos Durnin’s book’ agus ‘the
            Drogheda Book’ ar Leabhar Bhaile an Mhóta ina chuid páipéar. Tá, ar
            ndóigh, cuid mhaith cuntas againn ar an dóigh a bhfuarthas an
            lámhscríbhinn i seilbh baintrí i nDroichead Átha sna 1770í, ach níl
            sé soiléir ar chor ar bith go raibh sí fós i seilbh mhuintir
            Dhoirnín faoin am sin: tá fianaise againn go raibh sí i seilbh John
            Finglass, Green Lane [= Greenlanes] i bParóiste Pheadair, Droichead
            Átha, faoin mbliain 1772.
          </p>
          <p>
            Tuairim agus fiche bliain ina dhiaidh sin, scríobh Tomás Ó Doirnín ó
            Dhroichead Átha amhrán ar son John White, a bhí lonnaithe i
            nGarraithe Náisiúnta na Lus i nGlas Naíon an uair sin, agus a
            d’fhoilsigh Essay on the Indigenous Grasses of Ireland (1808),
            saothar ina dtugtar leaganacha Gaeilge d’ainmneacha na ngéineas
            féir. Tugann marc poist ar chúl na bileoige le fios gur seoladh
            chuige é ar an 30 Aibreán 1792. Is éard atá scríofa ar an mbileog
            seo, leagan Gaeilge den dán ‘The Exile of Erin’, ach ní hionann go
            díreach an pheannaireacht sa chás seo agus stíl pheannaireachta
            lámhscríbhinn na bliana 1765 .i. ARÉ E.ii.1 (746) agus peannaireacht
            na mbreiseanna i Leabhar Bhaile an Mhóta. Bíodh gur cruinne an lámh
            ar an mórgóir, agus í claonta ar gcúl píosa maith, is follas go
            bhfuil cosúlachtaí láidre idir í agus an lámh a ghraf codanna de ARÉ
            E.ii.1 (746). Leoga, ní bheifí ag súil leis nach dtiocfadh athrú
            éigin ar pheannaireacht duine le himeacht aimsire. Rud eile, tá
            cosúlachtaí áirithe ó thaobh na hortagrafaíochta agus na
            bhfoirmeacha teanga i gcuid de na téacsanna seo. Deich mbliana ina
            dhiaidh sin, scríobh Tomás Ó Doirnín trí amhrán i nDroichead Átha in
            1802; agus d’fhéadfadh sé gur ar son Edward Bunting a cóipeáladh
            iad, tharla go bhfuil siad istigh le lámhscríbhinní Bunting in
            Ollscoil na Banríona, Béal Feirste. Níl trácht ar bith ar Thomás Ó
            Doirnín i ndiaidh na bliana 1802, cé gur féidir gurb ionann é agus
            an Thomas Durnan a fuair bás in 1821 in aois a 81 bhliain, agus a
            adhlacadh i seanreilig Cholpa, atá díreach laisteas de Dhroichead
            Átha.
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeM()">Exit</button>
      </footer>
    </div>
  </div>
</div>
<div class="box">
  <div class="level">
    <div class="level-item">
      <h1 class="title">Brian Ó Tomaltaigh (c. 1799–1871)</h1>
    </div>
    <button class="button1" id="bt1" (click)=" showCase5()">Read Me</button>
  </div>
</div>

<div *ngIf="isActive4">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete" (click)="closeM()" aria-label="close"></button>
        <h1 class="modal-card-title">
          <strong>Brian Ó Tomaltaigh (c. 1799–1871)</strong>
        </h1>
      </header>
      <section class="modal-card-body">
        <div class="content is-medium">
          <p>
            D’fhéadfaí a áiteamh nár cheart Brian Ó Tomaltaigh (al. Bernard
            Tumalti) a áireamh mar scríobhaí ar chor ar bith, tharla nach raibh
            an-chur amach aige ar cheartscríobh na Gaeilge ach oiread.
            Ealaíontóir ó Dhroichead Átha a bhí ann, a chaith tréimhse i mbun
            staidéir i mBaile Átha Cliath i lár na 1820í. Leoga, an beagán
            scríbhinní dá chuid a tháinig anuas chugainn, is san English
            character .i. i gcóras ortagrafaíochta an Bhéarla, a scríobhadh iad
            bunús uilig. Tá dhá shampla againn d’ábhar a scríobh sé sa script
            agus san ortagrafaíocht thraidisiúnta: is catalóg (dar dáta 1840) é
            ceann acu den ábhar a bhí ina chnuasach lámhscríbhinní; is cóip sách
            maith é an dara ceann d’aistriúchán Gaeilge a réitigh Brian Ó
            Tomaltaigh é féin in 1841 de dhán Alexander Pope, ‘The Dying
            Christian to his Soul’. Cuireadh cuntais ar shaol agus ar shaothar
            Bhriain Uí Thomaltaigh i gcló cheana féin in Strickland, A
            Dictionary of Irish Artists (Londain, 1913); Ó Mórdha, ‘Robert S.
            Mac Adam’s Louth Correspondents (1831-1845)’, Seanchas Ard Mhacha,
            Iml. 3(1) (1958) go mórmhór; Ní Uallacháin, ‘A Drogheda List of
            Melodies: Implications for the Song Tradition of Meath and Oriel’,
            Ríocht na Midhe, Iml. 25 (2014); Ní Mhurchú & Breathnach, 1782-1881:
            Beathaisnéis (Baile Átha Cliath 1999).
          </p>
          <p>
            De réir na haoise a tugadh ar a fhógra báis, dealraíonn sé gur
            rugadh Brian Ó Tomaltaigh tuairim na bliana 1799, i bParóiste
            Pheadair, Droichead Átha, is cosúil. Cé go bhfuil na taifid
            pharóiste don tréimhse 1795–1815 caillte, ach beagán, déantar
            tagairtí iontu do lánúin phósta, Brian agus Jane Tumalty, dár rugadh
            páistí sna blianta 1804 agus 1821 faoi seach. Is eol dúinn, cibé rud
            é, go raibh deartháir aige arbh ealaíontóir é fosta—Thomas Tumalti a
            bhí air; agus bhí beirt deifiúracha aige, Mary Tumalti (ob. 1876)
            agus Agnes Tumalti (c. 1810–1893). Is féidir gurbh iad tuismitheoirí
            Bhriain iad Brian agus Jane, ach ní féidir sin a dheimhniú. D’fhill
            sé ar Dhroichead Átha c. 1827, i ndiaidh dó seal a chaitheamh i mbun
            staidéir san ardchathair; agus cuireadh cuid dá phortráidí agus
            pictiúir ar taispeáint in Éirinn agus i dtuaisceart Shasana sna
            1830í. Bhí an-bhaint aige leis an Athair Tomás U. de Búrca (c.
            1801–1844), O.P., a bhunaigh cumann ólséanta i nDroichead Átha in
            1840; bhí spéis ar leith ag an Athair de Búrca sa Ghaeilge, agus
            níorbh fhada nó gur meascadh feachtas athbheochana na Gaeilge i
            nDroichead Átha le cúrsaí creidimh, polaitíochta agus ólséanta: an
            mheancóg chéanna agus a rinne lucht na hAthbheochana tuairim is
            leathchéad bliain ina dhiaidh sin. Foilsíodh an cuntas seo ar an
            Drogheda Argus an 31 Deireadh Fómhair 1840: ‘Mr Tumaltie, who it was
            well known, was a first rate artist, was, also, an excellent Irish
            scholar, and he had in his possession several ancient Irish songs,
            and amongst them some of the celebrated Carolan. It was his
            intention to have them published and taught to the teetotallers, and
            by that means they would banish from amongst them the trash of songs
            which they were in the habit of singing’. Bhí lámhscríbhinní ina
            sheilbh faoi dheireadh na bliana 1840.
          </p>

          <p>
            Léiríonn dhá litir a scríobh Brian Ó Tomaltaigh chuig Roibeard Mac
            Ádhaimh go hiontach soiléir an dearcadh a bhí aige i leith na teanga
            labhartha agus scríofa. Grafadh an chéad cheann ar an 30 Deireadh
            Fómhair 1843: ‘I am preparing for publication a large and varied
            collection of the most beautiful Irish poems … In order to render
            such a work universally attractive I propose giving in musical type
            a perfect set of … arrangments [sic] for the harp etc. … Underneath
            each melody I will also give its original Irish song in native
            characters etc., etc. As like the union of soul and body they should
            live inseperable [sic].’ An bhliain dár gcionn, an 5–6 Samhain 1844,
            thaispeáin Brian gur chás dó an teanga bheo a shábháil fosta: ‘As
            poor Revd. Fr. Burke is gone, I must bestir myself to keep the
            Language alive in this district’. Ba dhóigh le Séamus P. Ó Mórdha
            nár réitigh pearsantacht Bhriain Uí Thomaltaigh le saol an
            pholaiteora agus an ghníomhaí, agus is cosúil, cinnte, nach raibh sé
            chomh hinniúil agus chomh héifeachtach leis an Athair de Búrca; níor
            tháinig toradh ar bith ar an mbeart a rinne sé duanaire Gaeilge a
            fhoilsiú. Is maith a chuidíonn an teist a thug Alexander Williams,
            ealaíontóir eile a tógadh i nDroichead Átha, leis an smaoineamh sin:
            ‘an intensely nervous man’ a bhí ann, dar leis. D’éirigh leis,
            áfach, an scríobhaí cumasach, Peadar Ó Gealacáin ó Bhaile Mhic
            Cathnaoin, Maigh nEalta, a aimsiú agus a fhostú le téacsanna a
            chóipeáil dó. Dhealródh sé go scríobhadh Brian dréachtaí de chuid de
            na téacsanna, agus go bhfágadh sé faoi Pheadar an ortagrafaíocht a
            cheartú. Níor shásaigh scríbhinní Pheadair é, ar chúis éigin nach
            léir, agus cheap Cumann Gaelach Dhroichead Átha scríobhaí eile,
            Nioclás Ó Cearnaigh, ina ionad. Chuaigh Nioclás Ó Cearnaigh leis go
            Baile Átha Cliath go gairid ina dhiaidh sin (áit ar cailleadh é in
            1865), agus sholáthair Brian ceann nó dhó de na rainn a foilsíodh
            ina mhórshaothar conspóideach úd, The Prophecies of SS. Columbkille,
            Maeltamlacht, Ultan, Seadhna, Coireall, Bearcan, &c. (Baile Átha
            Cliath, 1856). Thriail Brian filíocht a chumadh fosta. Thiontaigh sé
            Amhrán Náisiúnta na Breataine go Gaeilge; agus scríobh sé dán fáilte
            i nGaeilge chuig an mBanríon Victoria in 1845, ina dtráchtann sé—más
            go bog féin é—ar an aincheart a bhí á dhéanamh ar mhuintir na
            hÉireann .i. ‘… na mílte ’fághail bháis tre anródh sna críochaibh’.
          </p>
          <P>
            Diomaite den mheas a bhí ag Brian ar shaothar láimhe Pheadair Uí
            Ghealacáin, d’fhostaigh sé é athuair idir na blianta 1850 agus 1851
            le tuilleadh téacsanna a chóipeáil don chumann. Tá cruthú againn go
            ligeadh Brian do Pheadar a chnuasach pearsanta lámhscríbhinní a
            scrúdú fosta: idir na blianta 1847 agus 1848, rinne Peadar cóipeanna
            de roinnt téacsanna ar féidir a thaispeáint gur baineadh iad as ARÉ
            3C4ii (1019). Bhí an eiseamláir seo—rud ar ghraf Criostóir
            Aindreamha ó Dhroichead Átha a formhór idir 1808 agus 1810—i seilbh
            Bhriain Uí Thomaltaigh sna 1840í. Thart faoin mbliain 1854,
            chóipeáil Peadar ‘Aisling Shéamuis Uí Néanta’ (al. ‘Aisling an Daill
            Mhic Cuarta) dó, agus é ag tarraingt ar dhréacht de chuid a
            phátrúin. D’fhoilsigh Brian leagan den téacs, i ndiaidh dó cóip
            Pheadair a ‘cheartú’, ar an Drogheda Argus an 19 Lúnasa 1854. Is
            dóigh nach raibh ar a chumas mórán a dhéanamh, ó thaobh na Gaeilge
            de, i ndiaidh na bliana 1854. Chuaigh de greim a choinneáil ar a
            theach agus a stiúideo i Lána na Saorscoile, Sráid San Labhrás,
            Droichead Átha
          </P>
          <p>
            Déantar corrthagairt dó sna páipéir nuachta ina dhiaidh sin: thairg
            sé do Bhardas Dhroichead Átha cóipeanna a dhéanamh dá gcuid
            seanmhapaí sa bhliain 1870. Níor glacadh leis an tairiscint.
            Cailleadh Brian Ó Tomaltaigh ar an 10 Eanáir 1871 i Sráid an Mhaoir,
            Droichead Átha, áit a mbíodh cónaí air agus ar a bheirt
            deirfiúracha. Nuair a priontáladh fógra a bháis ceithre lá ina
            dhiaidh sin, dúradh gur ‘one of those popular characters’ é, ‘whose
            talents and idiosyncracies, although unnoticed and unrewarded while
            we have the original in the fl[e]sh amongst us, are readily missed
            and m[o]urned when he is gone’, Drogheda Argus, an 14 Eanáir 1871.
            Ná níor ceileadh orainn an cruachás ina raibh sé sna blianta deiridh
            dá shaol: ‘For the last ten years, the life of Mr Tumalti was a
            constant struggle against – shall we say it – the direst poverty,
            and but for the assistance of the society of St. Vincent de Paul,
            which is ever doing deeds of noiseless good amongst us, the old
            artist might have long since starved’. B’éigean dá sheanchairde
            briseadh a thógáil lena adhlacadh, agus cuireadh é sa tseanreilig ar
            thaobh Chnoc Bhaile Shláine. Tógadh ail leachta i gcuimhne air ina
            dhiaidh sin. Níor tháinig slán ach fíorbheagán dá chuid páipéar,
            cnuasach beag nótaí agus blúirí lámhscríbhinní atá ar coimeád in
            Acadamh Ríoga na hÉireann anois.
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button" (click)="closeM()">Exit</button>
      </footer>
    </div>
  </div>
</div>
<div class="footercontent">
  <app-footer></app-footer>
</div>
