<div class="box" id="box2">
  <p>
    <strong
      >This website is based on the PhD thesis by Fintan Keegan entitled
      Scríobhaithe Gaeilge An Tuaiscirt, 1650-1900: Beathaisnéisí (Maynooth
      University, 2019).
    </strong>
    <br />
    It allows users to search extensive biographical details linking scribes to
    manuscripts produced in the northern half of Ireland between 1650 and 1900.
    A scribe's manuscripts, addresses, as well as other personal details can be
    accessed on this site. Three sections of the website can be seen when
    looking at the navigation bar. These sections include the Scholar Search
    Section, Case Studies Section and the Map Section. Firstly, we have the
    Scholar Search section. On this page, the full list of Scribes from
    1650-1900 are loaded in automatically. The user can refine this list,
    entering search criteria and submitting said parameters. In return, a
    shortened list will appear, matching the criteria entered. The Case Studies
    Section presents a view of a cross-section of scribes whose output was
    prolific and/or particularly noteworthy. Here, users can select which work
    they wish to view, based on the author and title of the piece. This will
    open up a popup view, through which the reader can scroll and view the full
    contents. Lastly, we have the Map Section of the site. The map shows
    counties in the northern half of Ireland where scribes are listed (please
    note that not all counties in the northern half of Ireland were included in
    this particular study). The interactive map will zoom in on the county
    chosen by the user for more focus. Another click will reveal a popup box,
    containing the names of all of the scribes for that county. This will give
    the user more scope and choice within that county’s listed scribes.
  </p>
</div>
<div class="box" id="box1">
  <p>
    <strong
      >Tá an láithreán gréasáin seo bunaithe ar thráchtas PhD Fintan Keegan,
      Scríobhaithe Gaeilge an Tuaiscirt, 1650-1900: Beathaisnéisí (Ollscoil Mhá
      Nuad, 2019).</strong
    ><br />
    Ligeann sé d'úsáideoirí sonraí fairsinge beathaisnéise a chuardach a nascann
    scríobhaithe le lámhscríbhinní a grafadh sa leath thuaidh d'Éirinn idir 1650
    agus 1900. Is féidir teacht ar lámhscríbhinní, seoltaí, chomh maith le
    sonraí pearsanta eile ar an suíomh seo. Feicfear trí chuid den láithreán
    gréasáin nuair a bhíonn tú ag féachaint ar an mbarra nascleanúna. Is iad sin
    rannóg chuardaigh an Scoláire, rannóg na gCás-staidéar agus rannóg na
    Léarscáileanna. Maidir le rannóg chuardaigh an Scoláire, ar an leathanach
    seo tugtar liosta iomlán na scríobhaithe ó 1650-1900 go huathoibríoch. Is
    féidir leis an úsáideoir an liosta seo a bheachtú, ach critéir chuardaigh
    agus paraiméadair a chur isteach. Agus sin déanta, feicfear liosta
    giorraithe bunaithe ar na critéir a iontráladh. Tugann Rannóg na
    gCás-Staidéar léargas ar rogha scríobhaithe a raibh saothar bisiúil agus /
    nó iomráiteach acu. Anseo, is féidir le húsáideoirí an saothar is mian leo a
    fheiceáil a roghnú, bunaithe ar údar agus teideal an phíosa. Osclóidh sé seo
    radharc eile, trínar féidir leis an léitheoir scrollú agus féachaint ar an
    ábhar iomlán. Ar deireadh, tá cuid na Léarscáileanna den suíomh againn.
    Taispeánann an léarscáil na contaetha sa leath thuaidh den tír lena bhfuil
    scríobhaithe luaite (tabhair faoi deara nár clúdaíodh gach contae sa leath
    thuaidh den tír sa staidéar seo). Déanfaidh an léarscáil idirghníomhach
    súmáil isteach ar an gcontae a roghnóidh an t-úsáideoir le haghaidh níos mó
    fócais. Nochtfaidh cliceáil eile bosca, ina bhfaighfear ainmneacha na
    scríobhaithe go léir don chontae sin. Tabharfaidh sé seo níos mó scóipe agus
    rogha don úsáideoir laistigh de Scríobhaithe liostaithe an Chontae.
  </p>
</div>
<div class="footercontent">
  <app-footer></app-footer>
</div>
