
   <div class = "box" id = "box2">
    <p><strong>This page has been developed by the Maynooth University Irish Department.</strong> <br/>Its purpose is to store the data of scholars of the Irish language between the years 1650-1900. 
      A scribe's manuscripts, addresses, as well as other personal details can be viewed on this site. This website seeks to visually aid the user on learning and accessing information in a timely manner.
       Three sections of the website can be seen when looking at the navigation bar. These sections include the Scholar Search Section, Case Studies Section and the Map Section. 
      Firstly, we have the Scholar Search section. On this page, the full list of Scribes from 1650-1900 are loaded in automatically. 
      The user can refine this list, entering search criteria and submitting said parameters. In return, a shortened list will appear,
       matching the criteria entered. The Case Studies Section contains a particular set of works of which the creators have found particularly prominent.
        Here, users can select which work they wish to view, based on the author and title of the piece. This will open up a popup view, 
        through which the reader can scroll and view the full contents. Lastly, we have the Map Section of the site. The map showcases which counties contain scribes.
         The interactive map will zoom in on the county chosen by the user for more focus. Another click will reveal a popup box, containing the names of all of the scribes for that county. 
         This will give the user more scope and choice within that county’s listed scribes. 
      </p>
  </div>
  <div class = "box" id = "box1">
    <p><strong>D'fhorbair Roinn Gaeilge Ollscoil Mhá Nuad an leathanach seo.</strong><br/>
      Is é an cuspóir atá leis ná sonraí scoláirí na Gaeilge a stóráil idir na blianta 1650-1900. Is féidir breathnú ar lámhscríbhinní, seoltaí, chomh maith le sonraí pearsanta eile ar an suíomh seo. 
      Féachann an láithreán gréasáin seo le cúnamh a thabhairt don úsáideoir ar an úsáideoir ar fhoghlaim agus rochtain a fháil ar fhaisnéis go tráthúil. 
      Is féidir le trí chuid den láithreán gréasáin a bheith le feiceáil nuair a bhíonn tú ag féachaint ar an mbarra nascleanúna. 
      I measc na rannóga seo tá rannóg cuardaigh an scoláire, an Rannóg Cás-Staidéir agus an Rannóg Léarscáil. 
      Ar an gcéad dul síos, tá rannóg Cuardaigh an Scoláire againn. Ar an leathanach seo, luítear go huathoibríoch liosta iomlán na scríobhaithe ó 1650-1900 go huathoibríoch.
       Is féidir leis an úsáideoir an liosta seo a bheachtú, ag dul isteach critéir chuardaigh agus paraiméadair a chur isteach. Mar chúiteamh, beidh liosta giorraithe le feiceáil,
        ag teacht leis na critéir a iontráladh. Sa chuid Cás-Staidéar tá sraith áirithe oibreacha a bhfuil na cruthaitheoirí le fáil go háirithe feiceálach. Anseo, is féidir le húsáideoirí an obair is mian leo a fheiceáil, 
        bunaithe ar údar agus teideal an phíosa. Osclóidh sé seo dearcadh aníos, trínar féidir leis an léitheoir scrollú agus féachaint ar an ábhar iomlán. 
        Ar deireadh, tá an chuid léarscáil den suíomh againn. Taispeánann an léarscáil na contaetha ina bhfuil scríobhaithe. 
        Déanfaidh an léarscáil idirghníomhach súmáil isteach ar an gcontae a roghnóidh an t-úsáideoir le haghaidh níos mó fócais.
       Nochtann cliceáil eile bosca aníos, ina bhfuil ainmneacha na scríbe go léir don chontae sin. 
       Tabharfaidh sé seo níos mó scóipe agus rogha don úsáideoir laistigh de Scríobhaithe liostaithe an Chontae.</p>
  </div> 
<div class = "footercontent">
  <app-footer></app-footer>
</div>