.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
  padding-top: 8em;
}

.map-frame {
  padding-top: 0px;
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
::ng-deep .legend {
  line-height:4em;
  text-align: left;
  color: #555;
}
::ng-deep .legend i {
  width:4em;
  height: 4em;
  float: left;
  margin-right: 8px;
  font-size: normal;
  font-weight: bold;
  opacity: 0.7;
}
::ng-deep .popup{
  font-size: medium;
  font-weight: bolder;
  overflow-y:scroll;
  max-height:10em;

}
.map-container
{
  height:110%;
}
@media screen and (min-width: 1600px) {
  ::ng-deep .legend {
    line-height:8em;
    text-align: left;
    color: #555;
  }
  ::ng-deep .legend i {
    width:8em;
    height: 8em;
    float: left;
    margin-right: 8px;
    font-size: normal;
    font-weight: bold;
    opacity: 0.7;
  }
  ::ng-deep .popup{
    font-size: medium;
    font-weight: bolder;
    overflow-y:scroll;
    max-height:15em;
  
  }
}

::ng-deep .info {
  padding: 6px 8px;
  background: white;
  font-size: normal;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
::ng-deep .info h4 {
  margin: 0 0 5px;
  font-size:x-large;
  font-weight: bolder;
  color: black;
}
::ng-deep .popup2{
  border: none;
  font-size: large;
  font-weight: bolder;
}

::ng-deep .leaflet-popup{
  /* overflow-y: hidden!important; */
}