

<head>
  <script src="./leaflet-providers.js"></script>
  <script src="./data.js"></script>
</head>

<div class="gap"> 
  <label class="checkbox" (click) ="turnOn()">
    <input type="checkbox">
    Show all manuscripts
  </label>
  <label class="checkbox" (click) ="turnOn()">
    <input type="checkbox">
    Show all Scribes
  </label>
  <label class="checkbox" (click) ="turnOn()">
    <input type="checkbox">
    Show all sections
  </label>
<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
